.plumix-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-block: 0.75rem;
}
.plumix-columns[data-ratio="1:2"] {
  grid-template-columns: 1fr 2fr;
}
.plumix-columns[data-ratio="2:1"] {
  grid-template-columns: 2fr 1fr;
}
.plumix-columns[data-ratio="1:1:1"] {
  grid-template-columns: 1fr 1fr 1fr;
}
.plumix-columns[data-ratio="1:2:1"] {
  grid-template-columns: 1fr 2fr 1fr;
}
.plumix-columns[data-ratio="2:1:2"] {
  grid-template-columns: 2fr 1fr 2fr;
}
.plumix-columns[data-ratio="1:1:1:1"] {
  grid-template-columns: repeat(4, 1fr);
}
